node_modules
vendor
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.*
!.env.example
storage/*.key
/storage/debugbar
/public/build
vendor/*
node_modules/*
.phpunit.result.cache
bootstrap/cache/packages.php
bootstrap/cache/services.php
bootstrap/cache/config.php
bootstrap/cache/routes-v7.php
bootstrap/cache/events.php
